body{ 
    background-color:white;
    min-height: 1000%; 
    margin:0px; 
    
} 
.Text{
    height: 80px; 
    width: 100%; 
    text-align:center;
    color:black;
    font-size: 54px; 
    white-space: pre;
}

.Text1{ 
height: 80px; 
width: 100%; 
text-align:left;
color:black;
font-size: 20px; 
white-space: pre;
}

